body {
  background-color: #6d6d6d;
}

.main {
  margin-top: 50px;
}

.game-area {
  position: relative;
  overflow: hidden;
  border: 5px solid #a1a1a1; 
}

.background {
  background-image: url("../images/background.png");
  width: 288px;
  height: 512px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.screen-start {
  background-image: url("../images/start-screen.png");
  background-repeat: no-repeat;
  width: 184px;
  height: 267px;
  position: absolute;
  margin: 0 auto;
  margin-top: 20%;
  left: 60px;
}

.screen-start:hover {
  cursor: pointer;
}

.screen-gameover {
  margin: 0 auto;
  margin-top: 50%;
  background-image: url("../images/game-over.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 192px;
  height: 267px;
  position: absolute;
  left: 30px;
}

.current-score {
  margin-top: 60px;
  text-align: right;
  font-size: 28px;
  color: white;
}

.high-score {
  text-align: right;
  font-size: 28px;
  margin-top: 10px;
  color: white;
}

.play-button {
  background-image: url("../images/play-button.png");
  background-size: contain;
  width: 150px;
  height: 85px;
  margin: 0 auto;
  margin-top: 30px;
}

.play-button:hover {
  cursor: pointer;
}
